<!-- <h1>Hello World</h1>
<hinv-employee></hinv-employee> -->
<!-- <hinv-rooms></hinv-rooms> -->

<!-- <div #name></div> -->

<!-- <hinv-container> 
    <hinv-employee></hinv-employee>
    <hinv-rooms></hinv-rooms>
    <h1>This is from ng-content.</h1>
</hinv-container> -->

<!-- <div [ngSwitch]="role">
    <div *ngSwitchCase="'User'"> Welcome User!</div>
    <div *ngSwitchCase="'Admin'"> <hinv-rooms></hinv-rooms> </div>
    <div *ngSwitchDefault> You don't have permission to view. </div>
</div>   -->

<!-- <div>
    <ng-template #user></ng-template>
</div> -->

<!-- <a [routerLink]="'employee'">Employee</a>
<a [routerLink]="'rooms'">Rooms</a>

<router-outlet></router-outlet> -->

<hinv-app-navigation></hinv-app-navigation>
