/* You can add global styles to this file, and also import other style files */
.even {
    background-color: lightcoral;
    color: white;
}

.odd {
    background-color: aquamarine;
    color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
